<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS Offline -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>input group</title>
  </head>
  <body> 
    <h1>input group</h1>

    <!-- Basic example -->
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
      </div>

    <!-- Bootstrap js Offline -->
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery.slim.min.js"></script>

  </body>
</html>